doctype html
html dir="ltr" lang="en"
  head
    title Maximus Rails Base - Rails 5 Free Admin Theme
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"
    meta name="description" content="Bootstrap Admin App + Ruby on Rails"
    meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = yield